/* Réinitialisation des marges et des bordures */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    background-image: url(../images/image1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.form-container {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background: #f9f9f9;
}

input:focus {
    border-color: #070808;
}

label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: all 0.3s ease;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 14px;
    color: #020a07;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #8695a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #140b28;
}

.footer {
    margin-top: 20px;
}

.footer p {
    font-size: 14px;
    color: #666;
}

.footer a {
    color: #365a7b;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

header{
    background-image: url(image1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background: #f9f9f9;
    color: #333;
    appearance: none; /* Supprime le style par défaut */
    cursor: pointer;
}

select:focus {
    border-color: #0c0d0e;
}


